$color-light: #fff;
$color-deep-steel-blue: #2e5c73;
$color-bluish-green: #2e5c73;
$color-blue-sky: #87ceeb;
$color-light-green: #aacb81;
$color-light-grey: #d9d9d9;
$color-dark-blue: #001f3f;
$color-dark: #000;
$color-red: #a80000;
$color-blue: #0073ea;
$color-black: #212121;
$color-blue-light: #1976d2;
$color-grey: #e3f2fd;
$color-white-grey: #d9d9d9;
