@font-face {
  font-family: Jura;
  src: url('../../assets/fonts/Jura/Jura-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jura;
  src: url('../../assets/fonts/Jura/Jura-Regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jura;
  src: url('../../assets/fonts/Jura/Jura-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jura;
  src: url('../../assets/fonts/Jura/Jura-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$font-family-base: jura, sans-serif;
$font-family-paragraphs: montserrat, sans-serif;
